/* Styles for the form container */
.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba(254, 249, 249, 0.063);
}

/* Styles for the form input fields */
.form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Styles for the form submit button */
.form-button {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Styles for the form labels */
.form-label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Styles for the list of available dates */
.available-dates {
  margin-top: 20px;
}

.available-dates h3 {
  font-size: 20px;
  margin: 20px 0;
  color: #007bff;
}

.available-dates ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.available-dates li {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 15px;
  margin-right: 10px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .form-container {
    width: 100%;
    padding: 10px;
    height: auto;
    /* Reset height to fit content */
  }
}
