/* appointment.css */

.backgroundImage {
    -webkit-background-image: image('../../Assets/logo.svg');
}

.card-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    z-index: 99;
}

.custom-card {
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-left: 5px solid rgb(0 88 164);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container .ant-form-item {
    margin-bottom: 25px; /* Adjust the vertical spacing between form items */
}

.receiptno {
    width: 200px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.select {
    width: 200px;

}

.datePicker {
    /*width: 200px;*/
    margin-bottom: 24px;
    /*text-align: right;*/
}

.calendar {
    justify-content: center;
    padding: 24px;
}

.slots{
    padding: 24px;
    justify-content: center;
}

.slot {
    cursor: pointer;
}

.button {
    width: 30%;
    background-color: rgb(64 131 52);
    /* Remove the align-items property */
}

.ant-select-selection-placeholder {
    text-align: center;
}


.ant-picker-input input::placeholder {
    text-align: center;
}

.ant-card-head-title {
    text-align: center;
}